/* Common Style  Part Start*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Creating CSS3 Variables */
:root{
    --theme : rgb(21, 180, 180);
    --gray : #efefef;
}

html{
    scroll-behavior: smooth;
}

button , body{
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 16px;
    line-height: 26px;
}

.full-container{
    width: 100%;
}

.container{
    width: 1140px;
    margin: auto;
}

.section-title{
    width: 300px;
    border-bottom: 3px solid var(--theme);
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}

section{
    padding: 100px 0;
    position: relative;
}
/* Common Style  Part End*/


/* Home Page Style Start  */
header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 2;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header .container .logo{
    padding: 15px 0;
    height: 75px;
}

header .container .logo img{
    height: 120%;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: white;
    transition: 0.4s;
}

header nav ul li a:hover{
    color: var(--theme);
    font-size: 20px;
}

.banner{
    top: 50px;
    left: 0;
    min-height: 100vh;
    width: 100%; 
    background-image: url("../img/pic11.jpeg");
    background-size: cover;
    background-attachment: fixed;
}
.content{
    float: right;
    text-align: center;
    width: 45%;
}

.banner h1{
    margin-top: 120px;
    display: inline-block;
    font-size: 3.5rem;
    color: white;
    text-shadow: 0 0 2px #000;
    width: 50%;
    text-align: center;
    line-height: 4.2rem;
    font-weight: 100;
}

.banner h1 span{
    color: var(--theme);
    display: inline-block;
    line-height: 3.5rem;
    padding: 0 15px;
    font-weight: 300;
    border-radius: 5px;
}

.banner p {
    color: white;
    text-shadow: 0 0 2px #000;
    text-align: center;
    margin-top: 10px;
    padding: 0 50px;
}

.banner button{
    background-color: var(--theme);
    border: 0;
    outline: none;
    color: white;
    padding: 10px 15px;
    margin: 20px;
    font-size: 20px;
    border-radius: 60px;
    font-weight: 600;
}

.banner button:hover{
    color: white;
    font-size: 25px;
    background-color: rgb(17, 128, 128);
    text-shadow: 0 0 6px #000;
    box-shadow: 0 0 4px rgb(27, 27, 27);
}

/* Home Page Style End */


/* About Us Starts */
#about .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
    height: 245px;
}

#about .cards > div{
    width: 350px;
    background-color: var(--gray);
    padding: 35px;
    color: #444;
    text-align: center;
    border-radius: 5px;
    height: 250px;
    border: 1px solid #ccc;
    transition: 0.4s;
}

#about .cards > div:hover{
    width: 400px;
    margin-top: -20px;
    border-color: var(--theme);
    padding: 55px;
    height: auto;
}

#about .cards > div .title{
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

#about .cards > div p{
    font-size: 14px;
    margin-top: 15px;
}

#about .cards > div button{
    border: 1px solid var(--theme);
    outline: none;
    padding: 7px 15px;
    margin-top: 15px;
    font-size: 12px;
    border-radius: 3px;
    transition: 0.3s;
}

#about .cards > div:hover button{
    background-color: var(--theme);
    color: white;
}
/* About Us Ends  */


/* Programs Section Start  */

.programs{
    background-color: rgb(17, 128, 128);
}

.programs .box-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;
    margin: 0px 60px;
}

.programs .box-container .box{
    background-color: white;
    text-align: center;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #c5c5c5;
    position: relative;
    margin-bottom: 15px;
}

.programs .box-container .box .card-image{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
 
.programs .box-container .box .card-image::after{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    filter: grayscale(90%);
    transition: 0.4s;
}

.programs .box-container .box:nth-child(1) .card-image ,
.programs .box-container .box:nth-child(1) .card-image::after{
    background-image: url("../img/program1.jpg");
} 

.programs .box-container .box:nth-child(2) .card-image ,
.programs .box-container .box:nth-child(2) .card-image::after{
    background-image: url("../img/program2.jpg");
} 

.programs .box-container .box:nth-child(3) .card-image ,
.programs .box-container .box:nth-child(3) .card-image::after{
    background-image: url("../img/program\ 3.jpg");
} 

.programs .box-container .box:nth-child(4) .card-image ,
.programs .box-container .box:nth-child(4) .card-image::after{
    background-image: url("../img/program\ 4\ new.jpg");
} 

.programs .box-container .box:hover .card-image::after{
    top: 100%;
}

.programs .box-container .box .program-title{
    font-size: 16px;
    margin-top: 15px;
    font-weight: 600;
    color: #444;
}

.programs .box-container .box .donation-count{
    font-size: 13px;
    font-weight: 600;
    color: #444;
    margin-top: 10px;
}

.programs .box-container .box .donation-count span{
    color: var(--theme);
}

.programs .box-container .box button{
    position: absolute;
    left: 50%;
    background-color: var(--theme);
    color: white;
    transform: translate(-50%);
    bottom: -15px;
    border-radius: 60px;
    padding: 7px 15px;
    border: 0;
    outline: none;
}
/* Programs Section Ends  */



/* Gallery Starts Here  */
.gallery .gallery-container{
    column-count: 3;
    column-gap: 20px;
} 

.gallery .gallery-container .item{
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.gallery .gallery-container .img{
    width: 100%;
    display: block;
    transition: 0.4s;
}

.gallery .gallery-container .title{
    position: absolute;
    background-color: var(--gray);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    opacity: 0;
    z-index: 1;
    transition: 0.4s;
}

.gallery .gallery-container .item:hover .title{
    opacity: 1;
}

.gallery .gallery-container .item:hover img{
    transform: scale(1.2);
}
/* Gallery Ends Here  */


/* Our Vision Section  Starts*/
.vision{
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url("../img/vision4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
}


.vision .section-title{
    color: white;
    text-shadow: 0 0 4px #000;
}

.vision .vision-container{
    position: relative;
    background-color: rgba(8, 8, 8, 0.664);
    width: 600px;
    top: 0vh;
    color: white;
    text-shadow: 0 0 6px #000;
    padding: 30px;
}

.vision .vision-container h3{
    font-size: 35px;
    font-weight: 300;
}

.vision .vision-container p{
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px 0 30px;
}

.vision .vision-container button{
    background-color: var(--theme);
    border: 0;
    color: white;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    border-radius: 60px;
}

.vision .vision-container button:hover{
    color: white;
    font-size: 20px;
    background-color: rgb(17, 128, 128);
    text-shadow: 0 0 6px #000;
    box-shadow: 0 0 4px rgb(27, 27, 27);
    cursor: pointer;
}

/* Our Vision Section  Ends*/


/* Footer Starts  */
footer{
    background-color: #181818;
    color: rgba(180, 184, 183, 0.884);
    padding: 50px 0;
    font-size: 14px;
}

footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 50px;
}

footer .title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid;
    margin-bottom: 30px;
    padding: 0 0 5px 0;
}

footer p{
    margin-bottom: 10px;
}


footer .features-container ul li{
    color: rgba(180, 184, 183, 0.884);
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
}

footer .news-container img{
    height: 65px;
    margin-bottom: 11px;
    padding: 0 142px;
}

footer .news-container .span{
    color: var(--theme);
    font-size: 20px;
    text-align: center;
}

footer .news-container input , 
footer .news-container button{
    background-color: transparent;
    border: 1px solid rgba(180, 184, 183, 0.884);
    outline: none;
    padding: 10px 15px;
    width: 100%;
    margin-top: 10px;
    color: #ccc;
    border-radius: 30px;
}

footer .news-container button{
    width: fit-content;
    margin-left: 120px;
}

footer .news-container button:hover{
    background-color: rgb(17, 128, 128);
    text-shadow: 0 0 6px #000;
    box-shadow: 0 0 4px rgb(27, 27, 27);
}

.copyright{
    text-align: center;
}
/* Footer Ends  */





